.App {
  text-align: center;
  font-family: 'DBFont'
}

@font-face {
  font-family: 'DBFont';
  src: url('./fonts/dbscreenhead-regular.woff') format('woff'),
    url('./fonts/dbscreenhead-light.woff') format('woff'),
    url('./fonts/dbscreenhead-black.woff') format('woff'),

}