body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DBFont', sans-serif;
}

@font-face {
  font-family: 'DBFontRegular';
  font-weight: 400;
  src: url('./fonts/dbscreenhead-regular.woff') format('woff'),
}

@font-face {
  font-family: 'DBFontBlack';
  src: url('./fonts/dbscreenhead-black.woff') format('woff'),
}

@font-face {
  font-family: 'DBFontLight';
  src: url('./fonts/dbscreenhead-light.woff') format('woff'),
}

@font-face {
  font-family: 'DBFontBold';
  font-weight: 700;
  src: url('./fonts/dbscreensans-bold.woff') format('woff'),
}

@font-face {
  font-family: 'DBFontMedium';
  font-weight: 600;
  src: url('./fonts/dbscreensans-medium.woff') format('woff'),
}

@font-face {
  font-family: 'DBFontSemiBold';
  font-weight: semibold;
  src: url('./fonts/dbscreensans-semibold.woff') format('woff'),
}