.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.destination {
    width: 33%;
    font-family: 'DBFontBold', sans-serif;
    font-weight: bold;
}

p.destination:first-child {
    text-align: left;
}

p.destination:last-child {
    text-align: right;
}

.duration {
    margin: 5px;
    align-self: flex-end;
    font-family: 'DBFontRegular', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.time {
    font-family: 'DBFontMedium', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.3);
    position: absolute;
    top: -5px;
    z-index: 10;
}

.rightCircle {
    right: 0;
}

.LeftCircle {
    left: 0;
}

.line {
    height: 5px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);

}